.poste{
   /* display:flex;*/
    align-items: flex-start;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1px;
}
.contenu>img{
    border-radius:  20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px ;
}
.head{
    font-size: 14px;
    color: rgb(88, 88, 88);
    font-weight: lighter;
}
 
.posteimage{
    border-radius: 20px;
}
.enteteTexte{
    margin-bottom: 15px;
} 

.contenu{
    flex: 1;
    padding: 10px;
}
.avatar {
    padding: 10px;
}
