.sidebar {
  border-right: 3px solid grey; 
  flex: 0.17;/*17% de l'ecran est reserve a la barre lateral*/
  padding-left: 20px;

}

.icon {
  margin-top: 20px;
  margin-left: 7px;
  margin-bottom: 20px;
}

.btnTweet {
  background-color: rgb(159, 175, 199) ;
  border: solid  ;
  border-color:  rgb(159, 175, 199) ;
  color: rgb(63, 61, 61) ;
  font-weight: 600 ;
  font-size: 17px;
  border-radius: 20px ;
  height: 30px ;
  margin-top: 10px ;
  cursor: pointer;
}